<template>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur culpa cum cumque cupiditate,
    doloremque doloribus eaque est, et ex facilis fugiat, itaque modi quae qui reprehenderit sequi vero voluptatem.
  </div>
</template>

<script>
  export default {
    name: "articles"
  }
</script>

<style scoped>

</style>
