<template>
  <div class="photo_gallery">
    <div class="container">
      <div class="photo_gallery_list">
        <div class="photo_gallery_elem" v-for="item in arrImg">
          <img src="/img/vybory-702x336.jpg" alt="">
          <a href="https://sharij.net/wp-content/uploads/2018/10/vybory-702x336.jpg"></a>
          <p>{{item}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "photo-gallery",
    data() {
      return {
        arrImg: [1, 1, 1, 1, 1, 1, 1, 1]
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/sass/index.scss";

  .photo_gallery {
    padding: 70px 0;
  }

  .photo_gallery_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .photo_gallery_elem {
    width: 100%;
    max-width: 400px;
    height: 250px;
    position: relative;
    overflow: hidden;
    flex: 1 1 26%;
    margin: 0 20px 40px;
    p {
      display: none;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transform: scale(1);
      filter: grayscale(0);
      transition: transform $time, filter $time;
    }
    &:hover {
      img {
        transform: scale(1.03);
        filter: grayscale(50%);
      }
    }
  }
</style>
