<template>
    <aside class="aside_main">
        <!--<calendar/>-->
        <newsFive :listData="newsList"/>
    </aside>
</template>

<script>
    import newsFive from './newsFive';
    // import calendar from './calendar';

    export default {
        name: 'asideSection',
        components: {
            newsFive,
            // calendar
        },
        data() {
            return {
                newsList: {
                    titleNews: 'ТОП-5 НОВОСТИ',
                    arrNews: [
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '01.12.2018',
                            link: '/'
                        },
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '02.12.2018',
                            link: '/'
                        },
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '03.12.2018',
                            link: '/'
                        }
                    ]
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~assets/sass/index.scss";

    .aside_main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 270px;
        padding-top: 110px;
        margin-left: 20px;
    }

    .banner_min {
        width: 100%;
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        .banner_min_text {
            margin: auto;
            align-self: center;
            display: block;
            background-color: rgba(255, 255, 255, .5);
            font-size: 40px;
            transition: background-color .3s;
            font-weight: 700;
            position: relative;
            z-index: 2;
            line-height: 1;
            padding: 20px 30px;
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        &:hover {
            .banner_min_text {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }


</style>
