<template>
  <Datepicker :inline="true" :language="ru"/>
</template>

<script>
  import ru from 'vuejs-datepicker/dist/locale';

  console.log(ru);
  import Datepicker from 'vuejs-datepicker';

  export default {
    components: {
      Datepicker
    },
    data() {
      return {
        ru: ru
      };
    }
  };
</script>

<style lang="scss">
  @import "~assets/sass/index.scss";

  .vdp-datepicker__calendar {
    width: 100%;
    margin-bottom: 27px;
    border-left: solid 2px #ced3d6;
    border-right: solid 2px #ced3d6;
    border-bottom: solid 8px #ced3d6;
    .cell {
      background-color: #fff;
      &.selected {
        color: $colorRed;
        font-weight: 700;
      }
    }
    header {
      .prev, .next {
        background-color: $colorRed;
        transition: background-color $time;
      }
      .day__month_btn {
        background-color: $colorRed;
        color: #fff;
        font-weight: 700;
        transition: background-color $time, color $time;
        &:hover {
          color: $colorRed;
        }
      }
      .prev {
        &::after {
          border-right: 10px solid #fff;
          transition: border $time;
        }
        &:hover {
          &::after {
            border-right: 10px solid $colorRed;
          }
        }
      }
      .next {
        &::after {
          border-left: 10px solid #fff;
        }
        &:hover {
          &::after {
            border-left: 10px solid $colorRed;
          }
        }
      }
    }
  }

</style>
