<template>
  <header class="header_main">
    <div class="container">
      <div class="header_left">
        <a href="#" class="logo">
          <span>Мера</span>
          новости
        </a>
      </div>
      <nav class="nav_main">
        <nuxt-link to="/"><span>Н</span>ОВОСТИ</nuxt-link>
        <nuxt-link to="/articles"><span>С</span>татьи</nuxt-link>
        <nuxt-link to="/social-network"><span>С</span>оцсети</nuxt-link>
        <nuxt-link to="/photo-gallery"><span>Ф</span>ОТОГАЛЕРЕЯ</nuxt-link>
      </nav>
      <div class="social_set">
        <button class="open_search"><i class="icon-search"></i></button>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'header',
    props: {
      msg: String
    }
  }
</script>

<style lang="scss">
  @import "~assets/sass/index.scss";

  .header_main {
    width: 100%;
    background: linear-gradient(to top, #143666 0%, #13386c 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .container {
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100px;
      position: relative;
    }
    &.active {
      position: fixed;
      top: -300px;
      opacity: 0;
      .container {
        height: 70px;
      }
      &.top_head {
        -webkit-transition: top .5s;
        transition: top .5s;
        top: 0;
        opacity: 1;
      }
    }
  }

  .logo {
    display: block;
    width: 105px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
    span {
      display: block;
      font-size: 27px;
    }
  }

  .header_left {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav_main {
    width: 100%;
    max-width: 565px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    a {
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      margin: 0 5px;
      position: relative;
      span {
        transition: color .3s;
      }
      &::before {
        @include before_fig(0, 1px, $colorRed);
        bottom: 0;
        left: 0;
        -webkit-transition: .3s;
        transition: .3s;
      }
      &:hover, &.nuxt-link-exact-active {
        &:before {
          width: 100%;
        }
        span {
          color: $colorRed;
        }
      }
    }
  }

  .social_menu {
    margin-top: 15%;
    display: flex;
    width: 100%;
    max-width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    a {
      display: block;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      border: solid 1px #fff;
      height: 50px;
      padding-left: 23%;
      margin-bottom: 19px;
      line-height: 52px;
      transition: color .3s;
      &:hover {
        color: $colorRed;
      }
      i {
        margin-right: 20px;
      }
    }
  }

  .social_set {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    a, .open_search {
      color: #fff;
      height: 38px;
      font-size: 25px;
      text-align: center;
      display: block;
      line-height: 35px;
      width: 46px;
      background-color: transparent;
      cursor: pointer;
      transition: color .3s;
      border-right: solid 1px rgba(204, 204, 204, .16);
      border-bottom: solid 1px rgba(204, 204, 204, 0);
      i {
        font-style: normal;
      }
      &:first-child {
        border-left: solid 1px rgba(204, 204, 204, .16);
      }
      &:hover {
        border-bottom: solid 1px rgba(204, 204, 204, .16);
        color: #241e1e;
      }
    }
  }

  .open_search {
    border-top: none;
    border-left: none;
    i {
      position: relative;
      top: -2px;
    }
  }

</style>
