<template>
    <main class="wrap_list_news">
        <newsMin :listData="newsList"></newsMin>
        <ul class="bread_crumbs">
            <li><a href="#">Новость</a></li>
            <li><a href="#">Еще новость</a></li>
            <li>И еще новость</li>
        </ul>
        <div class="moving_news">
            <a href="#" class="moving_before">
                <span><i class="icon-left-open"></i>Предыдущая страница</span>
            </a>
            <a href="#" class="moving_after">
                <span>Следующая страница <i class="icon-right-open"></i></span>
            </a>
        </div>
    </main>
</template>

<script>
    import newsMin from './newsList';

    export default {
        name: 'mainSection',
        components: {
            newsMin
        },
        data() {
            return {
                newsList: {
                    titleNews: '',
                    arrNews: [
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '01.12.2018',
                            link: '/'
                        },
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '02.12.2018',
                            link: '/'
                        },
                        {
                            title: 'В 2017 году в Ашхабаде состоится форум Энергетической Хартии',
                            text: `<p>01.12.2016 В 2017 году в Ашхабаде состоится очередная сессия
                конференции Энергетической Хартии, говори ....</p>`,
                            img: '/img/news1.png',
                            time: '03.12.2018',
                            link: '/'
                        }
                    ]
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~assets/sass/index.scss";

    .wrap_list_news {
        width: 100%;
        max-width: 850px;
    }

    .control_list {
        height: 85px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid #dddddd;
    }

    .control_wrap {
        display: flex;
        align-self: center;
    }

    .chess_btn {
        width: 50px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px 8px;
        cursor: pointer;
        transition: $time;
        background-color: #e5e2e2;
        i {
            width: 8px;
            height: 8px;
            display: block;
            transition: $time;
            margin-bottom: 2px;
            background-color: #241e1e;
        }
        &.active,
        &:hover {
            background-color: #241e1e;
            i {
                background-color: #e5e2e2;
            }
        }
    }

    .list_btn {
        width: 50px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px 8px;
        cursor: pointer;
        transition: $time;
        background-color: #e5e2e2;
        margin-left: 18px;
        i {
            width: 8px;
            transition: $time;
            height: 8px;
            display: block;
            margin-bottom: 2px;
            background-color: #241e1e;

            &:nth-child(even) {
                width: 20px;
            }
        }
        &.active,
        &:hover {
            background-color: #241e1e;
            i {
                background-color: #e5e2e2;
            }
        }
    }

    .list_news {
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .moving_news {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .moving_before, .moving_after {
            width: 31%;
            margin-top: 12px;
            display: flex;
            flex-wrap: wrap;
            span {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 700;
                display: inline-block;
                transition: .3s;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                line-height: 1.2;
            }
            i {
                color: #0398d8;
            }
            &:hover {
                span {
                    color: #0398d8;
                }
                p {
                    text-decoration: underline;
                }
            }
        }
        .moving_before {
            justify-content: flex-start;
            margin-right: 10px;
        }
        .moving_after {
            justify-content: flex-end;
            margin-left: 10px;
        }
    }
</style>
