<template>
  <div class="five_news">
    <div class="five_news_title">
      <p>{{listData['titleNews']}}</p>
    </div>
    <div class="five_news_list">
      <article class="news_min" v-for="item in listData['arrNews']">
        <a :href="item['link']" class="link_full_news"></a>
        <header class="news_header">
          <img class="news_img" :src="item['img']" alt="">
          <time class="news_time">{{item['time']}}</time>
        </header>
        <div class="news_content">
          <h1 class="news_title">{{item['title']}}</h1>
          <div class="news_text" v-html="item['text']"></div>
        </div>
        <a :href="item['link']" class="btn"><span>ПОДРОБНЕЕ</span><i class="icon-right-open"></i></a>
      </article>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'newsFive',
    props: ['listData'],
  }
</script>

<style lang="scss">
  @import "~assets/sass/index.scss";

  .five_news_list {
    counter-reset: item;
  }

  .five_news {
    margin-bottom: 20px;
    .news_min {
      display: block;
      border-left: solid 3px #dedede;
      border-right: solid 3px #dedede;
      padding: 15px 15px 30px 15px;
      margin-bottom: 0;
      background-color: #f7f7f7;
      .link_full_news {
        display: block;
      }
      .btn {
        display: none;
      }
      .news_header {
        margin: 0;
        overflow: inherit;
        display: inline;
        height: auto;
        .news_time {
          position: relative;
          padding: 0;
          background-color: transparent;
          color: #000;
        }
        .news_img {
          display: none;
        }
      }
      .news_content {
        display: inline;
        .news_title {
          font-weight: 400;
          display: inline;
          font-size: 17px;
        }
        .news_text {
          display: none;
        }
      }
      &::after {
        content: counter(item);
        counter-increment: item;
        position: absolute;
        display: block;
        top: 10px;
        right: -3px;
        width: 30px;
        height: 28px;
        z-index: 2;
        background-color: #202530;
        color: #fff;
        text-align: center;
        font-weight: 700;
        line-height: 30px;
      }
      &:nth-child(even) {
        background-color: #fff;
        .news_header {
          .news_time {
            display: none;
          }
        }
        .news_content {
          .news_title {
            font-weight: 700;
          }
        }
      }
    }
    .five_news_title {
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 52px;
      font-size: 17px;
      color: #fefefe;
      font-weight: 700;
      background-color: $colorRed;
    }
  }

  .five_news.last_news {
    .news_min {
      .btn {
        display: inline-block;
        bottom: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        right: -3px;
        span {
          display: none;
        }
        i {
          display: block;
        }
      }
      &:nth-child(even) {
        .news_header {
          .news_time {
            display: inline;
          }
        }
        .news_content {
          .news_title {
            font-weight: 400;
          }
        }
      }
      &::after {
        display: none;
      }
    }
  }

</style>
