<template>
  <div>
    <topBanner/>
    <infoLine/>
    <div class="wrap_main_content">
      <div class="wrap_content">
        <div class="container">
          <mainSection/>
          <asideSection/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import topBanner from '~/components/topBanner';
  import infoLine from '~/components/infoLine';
  import mainSection from '~/components/mainSection';
  import asideSection from '~/components/asideSection';

  export default {
    name: 'home',
    components: {
      topBanner,
      infoLine,
      mainSection,
      asideSection
    }
  }

</script>

<style lang="scss">

</style>
