<template>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque et eveniet ipsum libero, necessitatibus odit
    provident quae repudiandae vero. Aliquam, eius esse harum maiores nisi odio provident sed. Dolorum, vero!
  </div>
</template>

<script>
  export default {
    name: "social-network"
  }
</script>

<style scoped>

</style>
